@import "../../../style/basestyle.scss";

%SIDE_BAR_COMMON_STYLING {
  padding: 0;
  z-index: 2;
  position: absolute;
  overflow-x: visible;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: 1px solid #e3e8ee;

  .sidenav {
    padding-top: 32px;
  }
  .dropdown-basic-customized {
    background-color: transparent !important;
    border: 2px solid rgba(214, 214, 214, 0.5) !important;
    box-sizing: border-box !important;
    border-radius: 4px;
    width: 100%;
    max-width: 232px;
    min-width: 232px;
    display: flex !important;
    font-style: normal;
    font-weight: 500;
    font-size: 13px !important;
    line-height: 16px !important;
    color: #212121;
    justify-content: space-between;
    box-shadow: none !important;
    background-image: url("../../../images/icons/arrowDown.svg");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
  }

  .dropdown-menu {
    padding: 5px;
    width: 232px;
    border-radius: 4px;
    .dropdown-version-item {
      box-sizing: border-box !important;
      padding: 0 !important;
      border-radius: 4px;
      overflow: hidden;
      margin: 5px 0;
      .version {
        color: #212121 !important;
        display: inline-block;
        width: 100%;
        padding: 6px 4px !important;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
      }
    }

    .dropdown-version-item:hover {
      @include dropdown-item-hover;
      .version {
        color: #212121 !important;
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.9);
        width: 100%;
        padding: 6px 4px !important;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
      }
    }
    .active,
    .active:hover {
      @include dropdown-item-active;
      .version {
        color: #ffffff !important;
        display: inline-block;
        background-color: transparent;
        width: 100%;
        padding: 6px 4px !important;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .side-bar-container {
    position: fixed;
    left: 0;
    max-width: 228px;
    width: 228px;
    bottom: 0;
    top: 0;
    border-right: 1px solid #e3e8ee;
    padding: 0 24px 0 0;
  }

  @media screen and (max-width: 1024px) {
    .sidenav {
      width: 160px;
      list-style: none;
    }
  }
}

.side-bar {
  @extend %SIDE_BAR_COMMON_STYLING;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-bar-close {
  @extend %SIDE_BAR_COMMON_STYLING;
  overflow-y: visible;
}
